/* Table styling */
.so_table th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(/media/com_supplyorder/bg_header.jpg) no-repeat;
}

.so_table th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.so_table tr.selected_color {
	background-color: #FFFFCC;
}

.so_table td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}


.so_table td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* Form validation errors */
label.error-required {
	display: inline-block;
	color: #FF2424;
	background: #FFBFBF url(/media/com_supplyorder/warning-16.png) 5px 4px no-repeat;
    text-align: left;
    padding: 3px 15px 3px 26px;
    border: 1px solid #FF2424;
    margin: 5px;
}