body * { 
	visibility: hidden; 
}

.fancybox-wrap { 
	position: absolute; 
	top: 0 !important;
	left: 0 !important;
}

.fancybox-inner * { 
	visibility: visible !important; 
}

.fancybox-inner { 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0px; 
}

#so_print_button { 
	display: none; 
}
