<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="show_author" type="radio" default="1" label="Author Names" description="TIPIFSETTOSHOWAUTHOR">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_create_date" type="radio" default="1" label="Created Date and Time" description="TIPIFSETTOSHOWDATETIMECREATED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_modify_date" type="radio" default="1" label="Modified Date and Time" description="TIPIFSETTOSHOWDATETIMEMODIFIED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_hits" type="radio" default="1" label="Hits" description="TIPIFSETTOSHOWHITS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param type="text" name="accounting_email" label="Accounting Email:" description="Please enter the accounting email" />
		<param type="text" name="ceo_email" label="CEO Email:" description="Please enter the CEO email" />
	</params>
</config>
